---
import MainLayout from '../../layouts/MainLayout.astro';
import PostCard from '../../components/PostCard.astro';
import { getCollection, type CollectionEntry } from 'astro:content';

const posts: CollectionEntry<'blog'>[] = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<MainLayout 
  title="Gafnaa - Posts" 
  description="Browse through all blog posts by Gafna Al Faatiha Prabowo, covering topics like CTF writeups, cybersecurity notes, and frontend development tips."
  image="/sankya.jpg"
  url="/posts"
>
  <div class="posts-container">
    <h1>All Posts</h1>

    <input
      type="text"
      id="search-input"
      placeholder="Search posts..."
      class="search-bar"
    />

    <div class="posts-grid" id="posts-container">
      {posts.map((post) => (
        <div class="post-wrapper" data-title={post.data.title.toLowerCase()} data-excerpt={post.data.description.toLowerCase()} data-slug={post.id.replace(/\.mdx?$/, '').toLowerCase()}>
          <PostCard 
            title={post.data.title}
            date={post.data.pubDate.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}
            excerpt={post.data.description}
            url={`/posts/${post.id.replace(/\.mdx?$/, '')}`}
          />
        </div>
      ))}
    </div>
    <p id="no-results" class="no-results-message hidden">No posts found.</p>
  </div>

</MainLayout>

<script src="../../scripts/search.js"></script>

<style>
  .posts-container {
    max-width: 1100px;
    margin: 0 auto;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .search-bar {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid var(--divider-color);
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    background-color: #0A0A10;
    color: var(--text-color);
    transition: border-color 0.2s;
    border-color: rgba(255, 255, 255, 0.5); /* putih dengan 50% opacity */

  }

  .search-bar:focus {
    outline: none;
    border-color: var(--accent-color);
  }

  .posts-grid {
    display: grid;
    gap: 2rem;
  }

  .post-wrapper {
    transition: all 0.3s ease-in-out;
  }
  
  .no-results-message {
    text-align: center;
    margin-top: 2rem;
    color: var(--text-color);
    opacity: 0.7;
  }
</style>
