---
import MainLayout from '../layouts/MainLayout.astro';
import ProfileSection from '../components/ProfileSection.astro';
import PostCard from '../components/PostCard.astro';
import Button from '../components/Button.astro';
import { SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);
---

<MainLayout 
  title="Gafnaa - Home" 
  description={SITE_DESCRIPTION} 
  image="/sankya.jpg" 
  url="/"
>
  <ProfileSection />
  
  <div class="bio-section">
    <p>
      Hi! I am a frontend developer who also has a great passion in the world of cyber security as a CTF player. In addition to building attractive and responsive interfaces, I like to challenge myself with various cybersecurity competitions to hone my skills and insights. On the other hand, I also enjoy creativity through motion design, creating lively and communicative visuals. This combination allows me to work with focus but still expressive, always trying to present cool and safe work.
    </p>
  </div>
  
  <hr />
  
  <section class="recent-posts">
    <h2>Recent Posts</h2>
    
    <div class="posts-container">
      {posts.map(post => (
        <PostCard 
          title={post.data.title}
          date={post.data.pubDate.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}
          excerpt={post.data.description}
          url={`/posts/${post.slug}`}
        />
      ))}
    </div>
    
    <div class="more-btn">
      <Button text="More Posts" href="/posts" />
    </div>
  </section>
</MainLayout>

<style>
  .bio-section {
	margin-top: 2rem;
	padding: 2rem 0;
    max-width: fit-content;
    margin: 0 auto;
  }
  
  .bio-section p {
    font-size: 1rem;
    line-height: 1.7;
    opacity: 0.9;
  }
  
  .recent-posts h2 {
    font-size: 1.5rem;
    margin-bottom: 1 rem;
  }
  
  .posts-container {
    margin-bottom: 2rem;
  }
  
  .more-btn {
    display: flex;
    justify-content: center;
  }
</style>